$textColorOne:red;
$backgroundColorOne:#237C95;
$backgroundImage: "maserati";

@mixin featured {
  color:red;
}


.taskOne {
  color: $textColorOne;
}

.taskTwo {
  @include featured;
}

.taskThree {
  color: $textColorOne;
}
  .nestedDiv {
    color: red;
  }


@mixin Two {
  color: $backgroundColorOne;
  height: 200px;
  width: 200px;
  margin: 10px 10px 10px 10px;
}

.taskFive {
  background-image: url('https://s3.amazonaws.com/bottega-devcamp/scss/cars/#{$backgroundImage}.jpg');
  width:300px; 
  height: 300px;
  object-fit: fill;
}